
.app-container .default-btn,
.app-modal .default-btn {
    padding: .8em 1.1em;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    width: auto;
    margin: .3em;
    max-width: 200px;
    background-color: var(--bg-color);
    outline: none;
    user-select: none;
    border-radius: .9em;
    font-size: 1em;
    cursor: pointer;
    font-family: var(--font-family);
    transition: all .1s ease-out;
}

.app-container .default-btn:hover,
.app-modal .default-btn:hover,
.app-container .default-btn:focus,
.app-modal .default-btn:focus,
.app-container .default-btn:active,
.app-modal .default-btn:active {
    background-color: var(--font-color);
    color: var(--bg-color);
}

.app-container .default-btn:active,
.app-modal .default-btn:active {
    opacity: 0.9;
}
