

html, body {
    padding: 0;
    margin: 0;
    font-family: serif;
    user-select: none;
}

.root {
    display: flex;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 75VW;
    max-width: 500px;
    margin: auto;
    font-size: min(calc(75VW / 4), calc(500px / 4));
}

.grid__cell {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    background-color: rgba(0, 0, 0, 0.05);
    aspect-ratio: 1/1;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.grid__cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.grid__cell:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.is-visible {
    display: block;
}

.is-hidden {
    display: none;
}

.app-view-in-game .app-screen {
    height: 100%;
    display: flex;
}

.app-view-in-game .player-display {
    position: absolute;
    top: 0;
    left: 0;
}
.app-view-in-game .player-display[data-turn=O] {
    left: auto;
    right: 0;
}

.app-container {
    height: 100vh;
}

.app-view-menu .app-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-view-menu .title {
    color: #333;
    font-size: 4em;
}

.app-view-menu .btn {
    padding: 1em 1.5em;
    border: 2px solid transparent;
    color: white;
    width: auto;
    margin: .5em;
    max-width: 200px;
    background-color: rgba(0,0,255,1);
    outline: none;
    user-select: none;
    animation: all .3 ease-in-out;
    border-radius: .9em;
    font-size: 1em;
    cursor: pointer;
    font-family: serif;
}

.app-view-menu .btn:hover, .app-view-menu .btn:focus, .app-view-menu .btn:active {
    background-color: rgba(0,0,255,0.9);
    border: 2px solid white;
    transform: scale(1.1);
}
