
/**
checar qual abordagem usar...

:root {
    color-scheme: light dark;
}
*/

:root {
    --bg-color: white;
    --font-color: #333;
    --font-size: 16px;
    --font-size-title: 4em;
    --font-family-title: "Fredericka the Great", serif;
    --font-family: "Kalam", cursive;
}

@media (prefers-color-scheme: dark) {
    .system-preferences-theme {
        --bg-color: #333;
        --font-color: white;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --font-size-title: 3em;
    }
}

.dark-mode-on {
    --bg-color: #333;
    --font-color: white;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: serif;
    user-select: none;
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.root {
    display: flex;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 85VW;
    max-width: 500px;
    margin: auto;
    font-size: min(calc(85VW / 4), calc(500px / 4));
}

.grid__cell {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    background-color: rgba(0, 0, 0, 0.05);
    aspect-ratio: 1/1;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--font-color);
    overflow: hidden;
    line-height: 1.3em;
    font-family: var(--font-family-title);
}

.grid__cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.grid__cell:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.grid__cell.active {
    background-color: rgba(0, 0, 0, 0.15);
}

.is-visible {
    display: block;
}

.is-hidden {
    display: none;
}

.app-view-in-game .app-screen {
    height: 100%;
    display: flex;
}

.app-view-in-game .player-display {
    position: absolute;
    top: 1rem;
    left: 50%;
    color: var(--font-color);
    font-size: 1.5rem;
    transform: translate(-50%, 0);
}
.app-view-in-game .player-display[data-turn=O] {}

.app-container {
    height: 100vh;
    background-color: var(--bg-color);
}

.app-view-menu .app-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-view-menu .title {
    color: var(--font-color);
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    margin: 0 0 .35em;
}

.app-view-config {
    background-color: var(--bg-color);
}

.app-view-config .description {
    color: var(--font-color);
    margin: var(--font-size) 0 .1em;
}

.app-view-config .version {
    margin: 0;
    color: var(--font-color);
    font-size: .9em;
    margin: 0 0 var(--font-size);
}

.app-view-config .app-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-view-config .title {
    color: var(--font-color);
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
}

.app-view-config .theme-mode-select {
    padding: 1em 1.5em;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    width: auto;
    margin: .5em;
    background-color: var(--bg-color);
    outline: none;
    user-select: none;
    border-radius: .9em;
    font-size: 1em;
    cursor: pointer;
    font-family: var(--font-family);
    transition: all .1s ease-out;
}

.app-view-config .theme-mode-select:focus,
.app-view-config .theme-mode-select:hover,
.app-view-config .theme-mode-select:active {
    background-color: var(--font-color);
    color: var(--bg-color);
}

.app-view-config .theme-mode-select:active {
    opacity: 0.9;
}


@keyframes show {
    from { opacity: 0; }
    to { opacity: 1;}
}

.app-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    animation: show forwards .15s;
    animation-timing-function: ease-out;
}
.app-modal:active {
    background-color: rgba(0, 0, 0, 0.12);
}
.app-modal.active {
    background-color: rgba(0, 0, 0, 0.12);
}

.app-modal-confirm-alert .confirm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 80VW;
    max-width: 485px;
    background-color: var(--bg-color);
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    color: var(--font-color);
}

.app-modal-confirm-alert .confirm-box .title {
    text-align: center;
    font-family: var(--font-family-title);
}

.app-modal-confirm-alert .confirm-box .description {
    text-align: center;
}

.app-modal__hidden {
    display: none;
}